*{
    box-sizing: border-box;
}


.gallery img {
    width: 100%;
    height: auto;
}
.des {
    padding: 15px;
    text-align: center;
}
.responsive {
    widows: 200px;
    height: 350px;
    padding: 0 6px;
    float: left;
    width: 25%;
    margin-bottom: 35px;
}

